In [35]:
import pandas as pd
import numpy as np
movies= pd.read_csv("tmdb_5000_movies.csv")
credits= pd.read_csv("tmdb_5000_credits.csv")
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [36]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [37]:
# information of movies dataset
print(movies.info())
print(movies.describe())
print(movies.columns)
movies['release_date']=pd.to_datetime(movies['release_date'])
movies['year']=movies['release_date'].dt.year

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None
             budget             id   popularity       revenue      runtime  \
count  4.803000e+03    4803.000000  4803.000000  4.803000e+03  4801.000000
mean   2.904504e+07   57165.484281    21.492301  8.226064e+07   106.875859
std    4.072239e+07   88694.614033    31.816650  1.628571e+08    22.611935
min    0.000000e+00       5.000000     0.000000  0.000000e+00     0.000000
25%    7.900000e+05    9014.500000     4.668070  0.000000e+00    94.000000
50%    1.500000e+07   14629.000000    12.921594  1.917000e+07   103.000000
75%    4.000000e+07   58610.500000    28.313505  9.291719e+07   118.000000
max    3.800000e+08  459488.000000   875.581305  2.787965e+09   338.000000

       vote_average    vote_count
count   4803.000000   4803.000000
mean       6.092172    690.217989
std        1.194612   1234.585891
min        0.000000      0.000000
25%        5.600000     54.000000
50%        6.200000    235.000000
75%        6.800000    737.000000
max       10.000000  13752.000000
Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [ ]:
#information of credits dataset
print(credits.info())
print(credits.describe())
print(credits.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB
None
            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000
Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [ ]:
movies=movies.merge(credits,on='title') #merging movies dataset with credits dataset on title column
movies.columns
movies.rename(columns={'movie_id_x':'movie_id'},inplace=True)

In [40]:
#colums to consider
#genres, id, keywords, title, overview, cast, crew
movies=movies[['movie_id','title','overview','genres','keywords','cast', 'crew', 'year']]

In [ ]:
movies.head()
movies['year']=movies['year'].astype(str).str[:4] #converting year to string and taking only first 4 characters

In [42]:
movies.isnull().sum()
movies.duplicated().sum()

0

In [ ]:
movies.dropna(inplace=True) #dropping null values

In [44]:
movies.iloc[3].genres

'[{"id": 28, "name": "Action"}, {"id": 80, "name": "Crime"}, {"id": 18, "name": "Drama"}, {"id": 53, "name": "Thriller"}]'

In [45]:
import ast
ast.literal_eval(movies.iloc[0].genres)

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [46]:
#extracting only the genre names from the genres column and appending it to a list
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L
movies['genres'].apply(convert) #for every movie, getting a list of genres  of that movie

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [47]:
movies['keywords']=movies['keywords'].apply(convert)

In [48]:
movies.iloc[0].cast
# taking names of first 4 actors from each movie cast
def convert_cast(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=4:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L
movies['cast']=movies['cast'].apply(convert_cast)

In [49]:
movies['cast'].head()

0    [Sam Worthington, Zoe Saldana, Sigourney Weave...
1    [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2    [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3    [Christian Bale, Michael Caine, Gary Oldman, A...
4    [Taylor Kitsch, Lynn Collins, Samantha Morton,...
Name: cast, dtype: object

In [ ]:
movies.iloc[0].crew

#extracting the director name and music composer name from crew column
def convert_crew(obj):
    L_dir=[]
    L_music=[]
    for i in ast.literal_eval(obj):
        #checking director field exists and extracting director name
        if i['job'] and i['job']=='Director':
            L_dir.append(i['name'])      
        #checking music composer field exists and extracting music composer                                
        if i['job'] and i['job']=='Original Music Composer':
            L_music.append(i['name'])
    return L_dir,L_music

In [51]:
movies['crew']=movies['crew'].apply(convert_crew)
movies['crew'].head()

0       ([James Cameron], [James Horner])
1       ([Gore Verbinski], [Hans Zimmer])
2         ([Sam Mendes], [Thomas Newman])
3    ([Christopher Nolan], [Hans Zimmer])
4                  ([Andrew Stanton], [])
Name: crew, dtype: object

In [ ]:
#splitting the contents of overview column into list of words
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [53]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,year
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","([James Cameron], [James Horner])",2009
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","([Gore Verbinski], [Hans Zimmer])",2007
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","([Sam Mendes], [Thomas Newman])",2015
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","([Christopher Nolan], [Hans Zimmer])",2012
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","([Andrew Stanton], [])",2012

In [54]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [55]:
#creating new columns for director and music composer
movies['director']=movies['crew'].apply(lambda x:x[0]) # director -> first element of crew list
movies['music_composer']=movies['crew'].apply(lambda x:x[1]) #music composer -> second element of crew list

#removing spaces from director and music composer names
movies['director']=movies['director'].apply(lambda x:[i.replace(" ","") for i in x])
movies['music_composer']=movies['music_composer'].apply(lambda x:[i.replace(" ","") for i in x])

In [56]:
#creating tags column by combining overview, genres, keywords, cast, director and music composer
movies['tags']= (movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['director']+movies['music_composer'])
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,year,director,music_composer,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","([James Cameron], [James Horner])",2009,[JamesCameron],[JamesHorner],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","([Gore Verbinski], [Hans Zimmer])",2007,[GoreVerbinski],[HansZimmer],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...","([Sam Mendes], [Thomas Newman])",2015,[SamMendes],[ThomasNewman],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...","([Christopher Nolan], [Hans Zimmer])",2012,[ChristopherNolan],[HansZimmer],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...","([Andrew Stanton], [])",2012,[AndrewStanton],[],"[John, Carter, is, a, war-weary,, former, mili..."

In [57]:
moviesdf=movies[['movie_id','title','tags']] #creating a new dataframe with only required columns   
moviesdf.head()
moviesdf['tags']=moviesdf['tags'].apply(lambda x:" ".join(x)) #joining the list of words to form a single string

C:\Users\trish\AppData\Local\Temp\ipykernel_23332\2640879804.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviesdf['tags']=moviesdf['tags'].apply(lambda x:" ".join(x)) #joining the list of words to form a single string

In [58]:
print(moviesdf.head())
moviesdf['tags']=moviesdf['tags'].apply(lambda x:x.lower())

   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                tags
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bond’s past sends him o...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

C:\Users\trish\AppData\Local\Temp\ipykernel_23332\1530304569.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviesdf['tags']=moviesdf['tags'].apply(lambda x:x.lower())

In [59]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
 #stemming the words -> love, loving, loved -> love
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)
moviesdf['tags']=moviesdf['tags'].apply(stem)

C:\Users\trish\AppData\Local\Temp\ipykernel_23332\2280217766.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviesdf['tags']=moviesdf['tags'].apply(stem)

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv5=CountVectorizer(max_features=5000,stop_words='english')
vectors5=cv5.fit_transform(moviesdf['tags']).toarray() #creating vectors for every movie based on the tags column based upon 5000 most frequent words
cv2=CountVectorizer(max_features=2000,stop_words='english')
vectors2=cv2.fit_transform(moviesdf['tags']).toarray() #creating vectors for every movie based on the tags column based upon 2000 most frequent words

In [61]:
#shape of the 2 vectors formed
print(vectors5.shape)
print(vectors2.shape)

(4806, 5000)
(4806, 2000)

In [62]:
print(cv5.get_feature_names_out())
print(cv2.get_feature_names_out())
#alphabetically sorted feature names of both vectorizers

['000' '007' '10' ... 'zone' 'zoo' 'zooeydeschanel']
['000' '10' '11' ... 'youth' 'zombi' 'zoo']

In [63]:
#finding cosine distance between different vectors, less distance means more similar
from sklearn.metrics.pairwise import cosine_similarity
similarity5=cosine_similarity(vectors5)
similarity2=cosine_similarity(vectors2)
print(similarity5.shape)
print(similarity2.shape)

(4806, 4806)
(4806, 4806)

In [64]:
def recommend(movie):
    movie_index=moviesdf[moviesdf['title']== movie].index[0]
    distances5=similarity5[movie_index]
    distances2=similarity2[movie_index]
    #sorting based upon similarity scores by converting distances into a list of tuples
    lis5=sorted(list(enumerate(distances5)), reverse=True, key=lambda x:x[1])[1:11]  #top 10 movies with highest similarity scores based upon 5000 features
    lis2=sorted(list(enumerate(distances2)), reverse=True, key=lambda x:x[1])[1:11] #top 10 movies with highest similarity scores based upon 2000 features

    print("Top 10 recommendations based upon 5000 features are: \n")
    for i in lis5:
        print(moviesdf.iloc[i[0]].title, movies.iloc[i[0]].year)
        #print(movies.iloc[i[0]].year)

    print("\n Top 10 recommendations based upon 2000 features are: \n")
    for i in lis2:
        #print(moviesdf.iloc[i[0]].title)
        #print(movies.iloc[i[0]].year)
        print(moviesdf.iloc[i[0]].title, movies.iloc[i[0]].year)

In [ ]:
#recommendations for a particular movie

recommend('Batman Begins')

Top 10 recommendations based upon 5000 features are:

The Dark Knight 2008
Batman 1989
Batman 1989
Batman v Superman: Dawn of Justice 2016
The Dark Knight Rises 2012
Synecdoche, New York 2008
Copying Beethoven 2006
Rockaway 2007
Iron Man 2 2010
Batman Returns 1992

 Top 10 recommendations based upon 2000 features are:

The Dark Knight 2008
Batman v Superman: Dawn of Justice 2016
Synecdoche, New York 2008
Superman 1978
Batman 1989
Megamind 2010
Iron Man 2 2010
Copying Beethoven 2006
Batman 1989
Rockaway 2007

In [66]:
recommend('Spectre')

Top 10 recommendations based upon 5000 features are:

Skyfall 2012
Never Say Never Again 1983
Quantum of Solace 2008
Safe Haven 2013
From Russia with Love 1963
Restless 2012
Octopussy 1983
Dr. No 1962
Thunderball 1965
Diamonds Are Forever 1971

 Top 10 recommendations based upon 2000 features are:

Skyfall 2012
Never Say Never Again 1983
Safe Haven 2013
Quantum of Solace 2008
From Russia with Love 1963
Dr. No 1962
Something Wicked 2014
Diamonds Are Forever 1971
Thunderball 1965
Octopussy 1983

In [67]:
recommend('Dr. No')

Top 10 recommendations based upon 5000 features are:

Should've Been Romeo 2012
Flying By 2009
The Diving Bell and the Butterfly 2007
1982 2013
About Schmidt 2002
How to Fall in Love 2012
All Is Lost 2013
Gran Torino 2008
Jeff, Who Lives at Home 2011
Nine 2009

 Top 10 recommendations based upon 2000 features are:

Jeff, Who Lives at Home 2011
Should've Been Romeo 2012
The Diving Bell and the Butterfly 2007
All Is Lost 2013
About Schmidt 2002
Flying By 2009
1982 2013
Khumba 2013
How to Fall in Love 2012
The Animal 2001

In [68]:
import pickle
#dumping moviesdf and similarity matrix into pickle files
pickle.dump(moviesdf, open('movies.pkl','wb'))
pickle.dump(similarity5, open('similarity.pkl','wb'))